.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  border: 1px solid red;
  width: 400px;
  height: 400px;
  margin-top: 7rem;

}

.body {
  display: flex; 
  align-items: center;
  justify-content: center;
}


.search-bar {
  border: 1px solid green; 
  height: 30%;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.user {
  border: 1px blue solid; 
  height: 20%;
  display: flex;
}

.user-list{
  height: 70%;
  border: black 1px solid;
}

.photo-card{
  width: 30%
}

.photo-container{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.photo-container img{
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 50%;
}

.description-card{
  width: 70%;
}

